<head>
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}" />
</head>
<footer>
  <h4>QUICK LINKS</h4>
  <a class="quick-links" href="https://postgrescontributorstore.myshopify.com/pages/contact" target="_blank">Contact
    Us</a>
  <a class="quick-links" href="users" target="_blank">Contributor Profiles</a>
  <a class="quick-links" href="https://postgrescontributorstore.myshopify.com/ " target="_blank">Store</a>

  <hr />

  <div class="flex">
    <h5>PostgreSQL Contributors</h5>
    <span>© 2023 - Postgresqlcontributors.com</span>
    <div>
      <a style="margin-right: 20px;" class="term-privacy" href="#">Terms of Servie</a>
      <a class="term-privacy" href="#">Privacy Policy</a>
    </div>
  </div>
  <div class="mobile">
    <h5>PostgreSQL Contributors</h5>
    <div class="flex">
      <span>© 2023 - Postgresqlcontributors.com</span>
      <div style="display: flex;align-items: center;">
        <a style="margin-right: 20px;" class="term-privacy" href="#">Terms of Servie</a>
        <a class="term-privacy" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>