<footer>
  <h4>QUICK LINKS</h4>
  <a class="quick-links" href="#">Contact Us</a>
  <a class="quick-links" href="#">Contributor Profiles</a>
  <a class="quick-links" href="#">Store</a>

  <hr />

  <div class="flex">
    <h5>PostgreSQL Contributors</h5>
    <span>© 2023 - Postgresqlcontributors.com</span>
    <div>
      <a style="margin-right: 20px;" class="term-privacy" href="#">Terms of Servie</a>
      <a class="term-privacy" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>