body {
    margin: 0;
    padding: 0;
}

header {
    height: 41px;
    background: #689CC7;
    position: relative;
}

header p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

header p span {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer {
    background: #689CC7;
    padding: 86px 133px;
}

footer h4 {
    color: #FFF;
    font-family: Assistant;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .quick-links {
    color: #FFF;
    font-family: Assistant;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}

footer hr {
    background: #FFF;
    height: 1px;
    margin-top: 100px;
}

footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 0;
}

footer .flex h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

footer .flex span {
    color: #FFF;
    text-align: right;
    font-family: Assistant;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer .term-privacy {
    color: #FFF;
    text-align: right;
    font-family: Assistant;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline {
    display: flex;
    align-items: center;
}

.welcome {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 45px 60px;
    display: flex;
    justify-content: space-between;
}

.welcome .content {
    width: 509px;
}

.welcome .content .bold {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.welcome .content .normal {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.featured .title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 50px 0;
}

.owl-prev {
    background-color: #333 !important;
    color: #fff !important;
    font-size: 50px !important;
    border-radius: 50% !important;
    padding: 10px !important;

    position: absolute !important;
    top: 50% !important;
    left: -30px !important;
    transform: translateY(-50%) !important;

    width: 53px;
    height: 53px;
    flex-shrink: 0;
}

.owl-prev span {
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 90px;
}

.owl-next {
    background-color: #333 !important;
    color: #fff !important;
    font-size: 50px !important;
    border-radius: 50% !important;
    padding: 10px !important;

    position: absolute !important;
    top: 50% !important;
    right: -30px !important;
    transform: translateY(-50%) !important;

    width: 53px;
    height: 53px;
    flex-shrink: 0;
}

.owl-next span {
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    height: 90px;
}

.avatar {
    width: 421px;
    height: 294px;
    border-radius: 15px 15px 0px 0px;
    background: #689CC7;
    padding-top: 11px;
}

.avatar img {
    width: 266px !important;
    height: 283px !important;
    margin: auto;
}

.information {
    width: 421px;
    height: 166px;
    border-radius: 0px 0px 15px 15px;
    background: #F3F3F3;
}

.information a {
    margin: 0px auto 15px;
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: block;
}

.information p {
    margin: 0px auto 15px;
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information .country {
    margin: 0px auto 15px;
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    display: block;
}

.button {
    width: 225px;
    height: 56px;
    border-radius: 7px;
    background: #000;
    position: relative;
    margin: 80px auto;
    cursor: pointer;
}

.button a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 21px;
    text-decoration: none;
}

.function {
    border-radius: 15px;
    background: #689CC7;
    padding: 64px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.function .content h5 {
    margin: 0;
    width: 734px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.function .content p {
    margin: 32px 0 0;
    width: 598px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-content {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}


.reward {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 42px 65px;
    margin-top: 55px;
}

.reward .flex h5 {
    color: #000;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.reward .flex p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.reward .flex span {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.profile {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 65px 65px;
    margin-top: 55px;
}

.profile .wrap {
    padding-right: 80px;
}

.profile h5 {
    color: #000;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 34px;
}

.profile p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 26px;
}

.profile .country {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 34px;
    display: block;
}

.profile b {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 19px;
    display: block;
}

.profile p.about {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    padding: 35px 65px;
}

.social p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.social-btn {
    width: 226px;
    height: 46px;
    border-radius: 6px;
    background: #689CC7;
    position: relative;
    margin-right: 53px;
    display: block;
    text-decoration: none;
}

.social-btn span {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 65px 65px;
}

.media .wrap {
    padding-left: 80px;
}

.media h5 {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 60px 0 20px;
}

.media p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.media span {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lastUpdate {
    text-align: right;
    margin-top: 61px;
    margin-bottom: 70px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.githubText {
    margin-bottom: 113px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.github {
    width: 503px;
    height: 52px;
    border-radius: 15px 15px 0 0;
    background: #FAAF40;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.github p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262261;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.github p span {
    color: #262261;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

img.multi-year {
    position: absolute;
    top: 0;
    right: 0;
}

/* Style for the popup dialog */
.popup {
    display: none;
    position: fixed;
    top: calc(50% - 211px);
    right: 0px;
    width: 422px;
    height: 365px;
    border-radius: 6px;
    background: #FAAF40;
    z-index: 1000;
}

.popup p {
    color: #262261;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 91px;
}

.popup p a {
    color: #262261;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close {
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}

.github-icon {
    margin: 47px auto 0;
    display: block;
}

.users {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 45px 65px;
    margin-top: 55px;
}

.users .wrap {
    padding-right: 80px;
}

.users h5 {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

.users p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 26px;
}

.users p a {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.users p b {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-bar {
    margin-top: 44px;
    height: 59px;
    width: 100%;
    border-radius: 29.5px;
    background: #689CC7;
    padding: 19px 67px;
    display: flex;
    align-items: center;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 23px;
}

.search-bar input::placeholder {
    color: #fff;
}

.controller {
    padding: 43px 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controller .inline p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 1px solid #000;
    display: inline;
    margin: 0;
    margin-right: 28px;
}

.controller .inline .button {
    width: 226px;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #000;
    background: white;
    position: relative;
    margin: 0;
    margin-right: 20px;
}

.controller .inline .button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}


.user {
    border-radius: 15px;
    background: #F3F3F3;
    padding: 65px 65px;
    margin-top: 55px;
}

.user .wrap {
    padding-left: 80px;
}

.user .wrap a {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
    display: block;
    text-decoration: none;
}

.user p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 26px;
}

.user .country {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 60px;
    display: block;
}

.user b {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 19px;
    display: block;
}

.user p.about {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#pagination {
    padding: 60px 100px;
}

#user-list {
    margin: 0;
}

#pagination .flex {
    margin-bottom: 30px;
}

#order {
    margin-bottom: 30px;
}

#pagination .item-order {
    height: 56px;
    width: 11.111111111111111111111111111111%;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #000;
    background: #689CC7;
    position: relative;
}

#pagination .item-order p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#go-to-prev {
    width: 237px;
    height: 56px;
    border-radius: 7px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#go-to-next {
    width: 237px;
    height: 56px;
    border-radius: 7px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}