
.logo {
    width: 146px;
    height: 46px;
    border-radius: 6px;
    border: 1px black solid;
    position: relative;
}

.logo .logo-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 146px;
    height: 17px;
}

p.postgresql {
    width: 313px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

a.fame {
    width: 269px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    text-decoration: none;
}

p.store {
    width: 112px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.menubar {
    padding: 40px 0;
}